* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    --color-primary: #1a56db;
    --color-secondary: #3b82f6;
    --color-accent: #2563eb;
}

/* Fonts */
body {
    font-family: "Inter", system-ui, sans-serif;
    background: white;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

/*Utilities*/
.section {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.section-dark {
    background: #f3f6f4;
}

.section-light {
    background: #ffffff;
}